$siteWidth: 1110px;
$mobileWidth: 768px;

@import "reset.scss";

html, body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: $mobileWidth) {
  //setting up 100% height
  body {
    display: flex;
    flex-direction: column;
    & > main {
      flex: auto;
    }
  }
}

body{
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}

.dropdown{
  position: relative;
  z-index: 11;
  display: inline-block;
  em{//current value
    //color: #26C4F7;
    cursor: pointer;
    font-style: normal;
    color: inherit !important;
  }
  padding-right: 25px;
  &.active{
    z-index: 22;
    ul{
      display: block;
    }
    &:after{
      background: url(../imgs/dd-active.svg) no-repeat 100% 75%;
    }
  }
  &:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    background: url(../imgs/dd.svg) no-repeat 100% 75%;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }
  ul{
    display: none;
    padding: 10px 0;
    position: absolute;
    left: 0;
    list-style: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 4px;
    font-size: 20px;
    line-height: 30px;
    color: #596062;
    li{
      display: block;
      padding: 0 20px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      @media (min-width: $mobileWidth){
        white-space: nowrap;
      }
      &.active{
        background: #E1F7FE;
      }
      &:hover{
        cursor: pointer;
        background: #d8f7ff;
      }
    }
  }
}

body{
  padding-top: 80px;
}
body > nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background: #fff;
  opacity: 0.95;

  @media (min-width: 950px) {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    height: 40px;
  }
  & > div.inner{
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
    }
    @media (min-width: 950px) and (max-width: $siteWidth - 1){
      padding: 0 20px;
    }
    @media (max-width: 949px){
      padding: 20px 0;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    @include clearfix;
    h2{
      float: left;
      margin: 0 0 0 20px;
      font-size: 18px;
      a{
        display: block;
        width: 135px;
        height: 40px;
        background: url(../imgs/logo.svg) no-repeat;
        padding: 0 0 0 50px;
        color: #2C2A28;
        text-decoration: none;
        transition: color 0.3s;
        text-indent: -3000px;
        overflow: hidden;
        &:hover{
          color: #7DE2FF;
        }
        &.active{
          color: #848484;
        }
      }
    }
    font-size: 14px;
    line-height: 40px;
    .menu-link{
      @media (min-width: 950px){
        display: none;
      }
      @media (max-width: 949px){
        float: right;
      }

      margin: 0 20px 0 0;
      border: 1px solid #F1F8FA;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      display: block;

      background: url(../imgs/icons/menu.svg) no-repeat 50% 50%;
      &.active{
        background: url(../imgs/icons/menu-active.svg) no-repeat 50% 50%;
        & + ul.nav{
          display: block;
        }
      }
      text-indent: -3000px;
      overflow: hidden;
    }
    & > ul.nav{
      @media (min-width: 950px){
        float: right;
      }
      @media (max-width: 949px){
        display: none;
        clear: both;
        padding: 20px 0 0 0;
      }
      list-style: none;
      @media (min-width: 950px) {
        #languages {
          position: relative;
          z-index: 1;
        }
      }
      @media (min-width: 950px) and (max-width: $siteWidth - 1){
        #languages {
          position: relative;
          z-index: 1;
        }
      }
      & > li{
        @media (min-width: 950px) {
          display: inline;
          padding: 0 23px 0 22px;
        }
        @media (min-width: 950px) and (max-width: $siteWidth - 1){
          padding: 0 10px;
        }
        @media (max-width: 949px){
          display: block;
          text-align: center;
        }
        a{
          color: #000;
          text-decoration: none;
          font-weight: 600;
          transition: color 0.3s, background-color 0.3s;
          @media (max-width: 949px){
            line-height: 65px;
            font-size: 16px;
            display: block;
          }
          &:hover{
            color: #26C4F7;
            @media (max-width: 949px){
              background: #E1F7FE;
            }
          }
          &:active{
            color: #0E84BC;
          }
          &.active{
            font-weight: 600;
            color: #0E84BC;
          }
          @media (min-width: 950px) {
            &.special {
              border: 1px solid rgba(132, 132, 132, 0.2);
              transition: border-color 0.3s;
              &:hover {
                border-color: #000;
              }
              border-radius: 4px;
              padding: 0 16px;
              color: #0E84BC;
              line-height: 40px;
              display: inline-block;
            }
          }
        }
      }
    }
    div.language{
      @extend .noselect;
      @media (min-width: 950px) {
        float: right;
        position: relative;
      }
      cursor: pointer;
      strong{
        padding: 0 20px 0 0;
        background: url(../imgs/icons/more.svg) no-repeat right 50%;
        font-weight: 600;
        color: #596062;
        @media (min-width: 950px) {
          display: block;
        }
      }
      &.active strong{
        background: url(../imgs/icons/less.svg) no-repeat right 50%;
      }

      &.active ul{
        display: block;
      }
      ul{
        display: none;
        list-style: none;
        @media (min-width: 950px) {
          position: absolute;
          line-height: 30px;
          left: -8px;
          right: 0;
          padding: 8px 0;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        }
        background: #fff;
        border-radius: 4px;
        li{
          display: block;
          text-align: left;
          @media (max-width: 949px){
            text-align: center;
          }
          text-transform: uppercase;
          span{
            cursor: default;
            font-weight: 800!important;
          }
          a, span{
            text-decoration: none;
            color: #596062;
            display: block;
            @media (min-width: 950px) {
              font-weight: 600;
              padding: 0 0 0 8px;
            }
            &.current{
              @media (min-width: 950px) {
                background: #d8f7ff;
              }
            }
            transition: background 0.3s;
            &:hover{
              @media (min-width: 950px) {
                background: #d8f7ff;
              }
            }
          }
        }
      }
    }
  }
}

section{
  & > div.inner{
    @media (max-width: $siteWidth - 1){
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &#section-header{
    background: #0062BD;
    & > div.inner{
      @media (min-width: $siteWidth) {
        background: url(../imgs/header.svg) no-repeat right top;
        transition: background 0.3s;
        padding: 100px 0 30px;
        min-height: 425px;
        position: relative;
        &:after{
          content: "";
          width: 337px;
          height: 337px;
          position: absolute;
          top: 29px;
          left: 680px;
          background: url(../imgs/header-1.svg);
          transition: background 0.3s;
        }
        &.bg2:after{
          background: url(../imgs/header-2.svg);
        }
        &.bg3:after{
          background: url(../imgs/header-3.svg);
        }
        &.bg4:after{
          background: url(../imgs/header-4.svg);
        }
        &.bg5:after{
          background: url(../imgs/header-5.svg);
        }
        &.bg6:after{
          background: url(../imgs/header-6.svg);
        }
        &.bg7:after{
          background: url(../imgs/header-7.svg);
        }
        &.bg8:after{
          background: url(../imgs/header-8.svg);
        }
        &.bg9:after{
          background: url(../imgs/header-9.svg);
        }
        &.bg10:after{
          background: url(../imgs/header-10.svg);
        }
        &.bg11:after{
          background: url(../imgs/header-11.svg);
        }
        &.bg12:after{
          background: url(../imgs/header-12.svg);
        }
      }
      @media (max-width: $siteWidth - 1) {
        background-image: none !important;
      }
      h1{
        @media (min-width: $siteWidth) {
          max-width: 550px;
        }
        color: #fff;
        font-size: 35px;
        line-height: 42px;
        margin: 0 0 20px 0;
        font-weight: 600;
        @media(max-width: $siteWidth - 1){
          br{
            display: none;
          }
        }
      }
      p{
        max-width: 550px;
        color: #fff;
        margin: 0 0 40px 0;
        @media(max-width: $siteWidth - 1){
          br{
            display: none;
          }
        }
      }
      table{
        margin: 0 0 30px 0;
        tr:nth-child(1){
          td{
            color: #7DE2FF;
            font-weight: 700;
            font-size: 35px;
            line-height: 42px;
            padding: 0 70px 6px 0;
            white-space: nowrap;
            @media (max-width: 767px){
              font-size: 32px;
              line-height: 36px;
              padding: 0 50px 6px 0;
            }
            @media (max-width: 479px){
              font-size: 28px;
              line-height: 32px;
              padding: 0 20px 6px 0;
            }
          }
        }
        tr:nth-child(2){
          td{
            color: #fff;
            font-size: 14px;
            line-height: 19px;
            padding: 0 70px 0 0;
            @media (max-width: 767px){
              padding: 0 50px 0 0;
            }
            @media (max-width: 479px){
              padding: 0 20px 0 0;
            }
          }
        }
      }
      nav{
        @include clearfix;
        a, span{
          float: left;
          width: 155px;
          cursor: pointer;
          &:first-child{
            margin-right: 30px;
          }
          @media (max-width: 479px){
            width: 100%;
            margin: 0 0 10px 0;
            text-align: center;
          }
        }
      }
    }
  }
  &#section-companies{
    background: #EFF6F8;
    & > div.noinner{
      @include clearfix;
      padding: 30px 0;
      h2{
        text-align: center;
        margin: 0 0 30px 0;
        @media (max-width: $siteWidth - 1){
          padding: 0 20px;
          br{
            display: none;
          }
        }
      }
      nav{
        text-align: center;
        margin: 0 0 30px 0;
        span{
          cursor: pointer;
        }
        span:not(.active){
          @extend .btn-empty-invert;
        }
        span.active{
          @extend .btn;
        }
      }
      div.swiper{
        padding: 0 0 50px 0;
        &:before{
          content: "";
          position: absolute;
          z-index: 2;
          background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 46.8%, rgba(255, 255, 255, 0) 100%);
          left: 0;
          right: calc(50% + 600px);
          top: 0;
          bottom: 50px;
        }
        &:after{
          content: "";
          position: absolute;
          z-index: 2;
          background: linear-gradient(-90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 46.8%, rgba(255, 255, 255, 0) 100%);
          right: 0;
          left: calc(50% + 600px);
          top: 0;
          bottom: 50px;
        }
      }
      ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        &.fmcg li.fmcg,
        &.fashion li.fashion,
        &.farma li.farma
        {
          & > .inner {
            border-color:#26C4F7;
          }
        }
        li{
          padding: 0 5px;
          flex: 0 0 174px;
          div.inner {
            background: #fff;
            padding: 10px 20px;
            border-radius: 4px;
            border: 3px solid transparent;

            img {
              filter: grayscale(100%);
              transition: filter 0.3s, border-color 0.3s;
            }
            &:hover {
              img {
                filter: none;
              }
            }
            p {
              text-align: center;
              color: #848484;
              font-size: 14px;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
  &#section-why{
    & > div.inner{
      h2{
        text-align: center;
        margin: 0 0 20px 0;
      }
      ul.list3{
        li{
          & > div.inner{
            background: #F7FBFC;
            transition: background-color 0.3s;
            &:hover{
              background: #E1F7FE;
            }
            h3{
              font-size: 16px;
              line-height: 21px;
              margin: 0 0 5px 0;
              font-weight: 700;
            }
            p{
              font-size: 14px;
              line-height: 19px;
              margin: 0 0 25px 0;
            }
            position: relative;
            & > a{
              font-size: 14px;
              position: absolute;
              bottom: 15px;
              left: 20px;
              &:after{
                content: " >";
                position: absolute;
                right: -12px;
                top: 1px;
              }
            }
          }
        }
      }
    }
  }
  &#section-modules{
    & > div.inner{
      h2{
        text-align: center;
        margin: 0 0 20px 0;
        @media (max-width: $siteWidth - 1){
          padding: 0 20px;
          br{
            display: none;
          }
        }
      }
      ul.list4{
        li{
          & > .inner {
            color: #2C2A28;
            text-decoration: none;
            transition: background-color 0.3s;
            font-size: 16px;
            line-height: 19px;
            font-weight: 600;
            &:hover {
              background-color: #E1F7FE;
            }
            background-repeat: no-repeat;
            background-position: 15px 15px;
            padding-left: 62px;
          }
          &:nth-child(1) > .inner{
            background-image: url(../imgs/modules/1.svg);
          }
          &:nth-child(2) > .inner{
            background-image: url(../imgs/modules/2.svg);
          }
          &:nth-child(3) > .inner{
            background-image: url(../imgs/modules/3.svg);
          }
          &:nth-child(4) > .inner{
            background-image: url(../imgs/modules/4.svg);
          }
          &:nth-child(5) > .inner{
            background-image: url(../imgs/modules/5.svg);
          }
          &:nth-child(6) > .inner{
            background-image: url(../imgs/modules/6.svg);
          }
          &:nth-child(7) > .inner{
            background-image: url(../imgs/modules/7.svg);
          }
          &:nth-child(8) > .inner{
            background-image: url(../imgs/modules/8.svg);
          }
          &:nth-child(9) > .inner{
            background-image: url(../imgs/modules/9.svg);
          }
          &:nth-child(10) > .inner{
            background-image: url(../imgs/modules/10.svg);
          }
          &:nth-child(11) > .inner{
            background-image: url(../imgs/modules/11.svg);
          }
          &:nth-child(12) > .inner{
            background-image: url(../imgs/modules/12.svg);
          }
        }
      }
      & > a{
        position: relative;
        left: 50%;
        margin-left: -75px;
        &:after{
          content: " >";
          position: absolute;
          right: -12px;
          top: 1px;
        }
      }
    }
  }
  &#section-cases{
    background-color: #EFF6F8;
    overflow: hidden;
    max-width: 100%;
    & > div.inner{
      h2{
        text-align: center;
      }
      ul.list4{
        li{
          & > .inner{
            background: #26C4F7;
            transition: background-color 0.3s;
            &:hover{
              background: #1ba7e6;
            }
            color: #fff;
            h3{
              font-size: 20px;
              line-height: 24px;
            }
            dl{
              @include clearfix;
              margin: 0 0 25px 0;
              dt{
                float: left;
                clear: both;
                font-size: 14px;
                line-height: 22px;
              }
              dd{
                float: right;
                font-size: 16px;
                line-height: 22px;
              }
            }
            position: relative;
            & > a{
              font-size: 14px;
              position: absolute;
              bottom: 15px;
              left: 20px;
              color: #fff;
              text-decoration: none;
              &:after{
                content: " >";
                position: absolute;
                right: -12px;
                top: 1px;
              }
            }
          }
        }
      }
      & > h3{
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 20px 0;
      }
      div.swiper{
        padding: 0 0 50px 0;
        margin: 0 -5px;
        overflow: visible !important;
      }
      ul.swiper-wrapper{
        list-style: none;
        z-index: 15;
        & > li{
          padding: 0 5px;
          width: 172px;
          & > .inner{
            background: #fff;
            border-radius: 4px;

            padding: 10px 18px;
            &:hover{
              ul{
                display: block;
              }
            }
            img {
              filter: grayscale(100%);
              transition: filter 0.3s;
            }
            &:hover {
              img {
                filter: none;
              }
              p{
                color: #0E84BC;
              }
            }

            p{
              color: #C1C1C1;
              font-size: 14px;
              line-height: 19px;
            }
            position: relative;
            ul{
              display: none;
              list-style: disc;
              list-style-position: inside;
              position: absolute;
              z-index: 15;
              background: #fff;
              border-radius: 4px;
              color: #596062;
              font-size: 14px;
              line-height: 16px;
              padding: 12px 18px 0;
              left: 0;
              right: 0;
              li{
                margin: 0 0 6px 0;
              }
            }
          }
        }
      }
    }
  }
  &#section-best{
    & > div.inner{
      @include clearfix;
      & > nav{
        text-align: center;
        margin: 0 0 20px 0;
        span:not(.active){
          @extend .btn-empty-invert;
        }
        span.active{
          @extend .btn;
        }
        span{
          cursor: pointer;
        }
      }
      div.videos{
        margin: 0 -10px 20px;
        div.swiper {
          padding: 0 0 30px 0;
        }
        ul{
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0 0 20px 0;
          li{
            flex: 0 0 25%;
            padding: 0 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: relative;
            a {
              display: block;
              &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -27px 0 0 -27px;
                width: 54px;
                height: 54px;
                background-image: url(../imgs/icons/play.svg);
                opacity: 0.75;
              }
              img {
                max-width: 100%;
                border-radius: 4px;
              }
            }


          }
        }
      }
      div.info{
        float: left;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        h2{
          font-size: 30px;
          line-height: 36px;
          margin: 0 0 20px 0;
        }
        p{
          font-size: 16px;
          line-height: 22px;
          margin: 0 0 20px 0;
          em{
            font-style: normal;
            color: #26C4F7;
          }
        }
        ul{
          list-style: none;
          li{
            @extend .btn-empty-invert;
            margin: 0 10px 10px 0;
          }
        }
      }
      div.img{
        float: right;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #F7FBFC;
        border-radius: 4px;
        padding: 12px;
        img{
          max-width: 100%;
          display: block;
          background-color: #fff;

        }
      }
    }
  }
  &#section-others{
    background: #0062BD url(../imgs/other-bg1.svg) no-repeat left 0 top 100%;
    & > div.inner{
      background: transparent url(../imgs/other-bg2.svg) no-repeat left 800px top 198px;
      h2{
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 20px 0;
      }
      ul.list4{
        li{
          & > .inner{
            background: transparent url(../imgs/icons/other.svg) no-repeat right 15px top 15px;
            transition: background-color 0.3s;
            text-decoration: none;
            &:hover{
              background-color: #046cc3;
            }
            p{
              color: #fff;
              font-size: 16px;
              line-height: 22px;
              padding: 0 30px 0 0;
            }
            strong{
              color: #fff;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
  &#section-reviews{
    background-color: #EFF6F8;
    & > div.inner{
      h2{
        margin: 0 0 20px 0;
        a{
          float: right;
          @extend .btn-empty-invert;
        }
      }
      ul.list3{
        li{
          & > .inner{
            text-decoration: none;
            display: block;
            background-color: #fff;
            transition: background-color 0.3s;
            &:hover{
              background: #E1F7FE;
            }
            p{
              font-size: 16px;
              line-height: 22px;
              margin: 0 0 10px 0;
            }
            a{
              display: block;
              margin: 0 0 10px 0;
              font-size: 14px;
              line-height: 19px;
            }
            em{
              color: #596062;
              font-size: 14px;
              line-height: 19px;
              font-style: normal;
            }
          }
        }
      }
    }
  }
  &#section-news{
    background-color: #fff;
    & > div.inner{
      h2{
        margin: 0 0 20px 0;
      }
      ul.list3{
        li{
          & > .inner{
            text-decoration: none;
            display: block;
            transition: background-color 0.3s;
            &:hover{
              background: #E1F7FE;
            }
            h3{
              color: #2C2A28;
              font-size: 16px;
              line-height: 22px;
              margin: 0 0 15px;
              font-weight: 700;
            }
            p{
              color: #596062;
              margin: 0 0 15px 0;
              font-size: 14px;
              line-height: 19px;
            }
            em{
              color: #C1C1C1;
              font-size: 12px;
              line-height: 16px;
              font-style: normal;
            }
          }
        }
      }
    }
  }


  &#section-faq{
    & > .inner{
      h2{
        margin: 0 0 40px;
      }
      nav{
        margin: 0 0 20px 0;
        span{
          cursor: pointer;
        }
        span:not(.active){
          @extend .btn-empty-invert;
        }
        span.active{
          @extend .btn;
        }
      }
      & > ul.faq{
        list-style: none;
        & > li{
          border: 1px solid #F2F2F2;
          &:hover{
            border-color: darken(#F2F2F2, 15);
          }
          border-radius: 4px;
          margin: 0 0 10px 0;
          padding: 12px 20px;
          transition: background-color 0.3s, border-color 0.3s;
          &.active{
            background: #F2F2F2;
            h3{
              color: #0E84BC;
              background: url(../imgs/icons/less.svg) no-repeat right 10px top 10px;
            }
            & > div{
              display: block;
            }
          }
          h3{
            cursor: pointer;
            transition: background 0.3s, color 0.3s;
            background: url(../imgs/icons/more.svg) no-repeat right 10px top 10px;
            padding: 0 30px 0 0;
          }
          & > div{
            display: none;
            padding: 20px 0 0 0;
            color: #596062;
            font-size: 14px;
            line-height: 19px;
            ul{
              padding: 20px 0 10px 35px;
              margin: 0 0 0 0;
              list-style: disc;
              li{
                margin: 0 0 10px 0;
              }
            }
          }
        }
      }
    }
  }

  &.inner{
    padding: 30px 20px;
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  & > div.inner{
    padding: 30px 20px;
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  h1, h2, h3, h4{
    font-family: Poppins, Montserrat, "Open Sans";
  }
  h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #2C2A28;
    em{
      font-style: normal;
      color: #26C4F7;
    }
  }
  p{
    font-size: 16px;
    line-height: 22px;
    color: #596062;
  }
  a{
    color: #0E84BC;
    transition: color 0.3s, background 0.3s;
    &:hover{
      color: #26C4F7;
    }
    &:active{
      color: #0E84BC;
    }
  }
}
ul.list6{
  list-style: none;
  @include clearfix;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  li {
    float: left;
    padding: 10px 15px;
    @media (min-width: 768px) {
      width: 16.666666%;
      flex: 0 0 16.666666%;
    }
    @media (max-width: 767px){
      width: 33.33333%;
      flex: 0 0 33.33333%;
      padding: 8px 12px;
    }
    @media (max-width: 479px){
      width: 100%;
      flex: 0 0 100%;
      padding: 10px 0;
    }
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    & > .inner {
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      @media (max-width: 767px) {
        padding: 18px 15px;
      }
      width: 100%;
      h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0;
      }
      p {
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
      }
    }
  }
}
div.ulbox{
  margin: 0 -15px;
  @media (max-width: 767px){
    margin: 0 -12px;
  }
  @media (max-width: 479px){
    margin: 0;
  }
}
ul.list4{
  list-style: none;
  @include clearfix;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  li {
    float: left;
    padding: 10px 15px;
    @media (min-width: $siteWidth) {
      width: 25%;
      flex: 0 0 25%;
    }
    @media (max-width: $siteWidth - 1) {
      width: 33.33333%;
      flex: 0 0 33.33333%;
    }
    @media (max-width: 767px){
      width: 50%;
      flex: 0 0 50%;
      padding: 8px 12px;
    }
    @media (max-width: 479px){
      width: 100%;
      flex: 0 0 100%;
      padding: 10px 0;
    }
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    & > .inner {
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      @media (max-width: 767px) {
        padding: 18px 15px;
      }
      width: 100%;
      h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0;
      }
      p {
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
      }
    }
  }
}
ul.list3{
  list-style: none;
  @include clearfix;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  li{
    float: left;
    padding: 10px 15px;
    @media (min-width: 768px) {
      width: 33.33%;
      flex: 0 0 33.33333%;
    }
    @media (max-width: 767px){
      width: 50%;
      flex: 0 0 50%;
      padding: 8px 12px;
    }
    @media (max-width: 479px){
      width: 100%;
      flex: 0 0 100%;
      padding: 10px 0;
    }
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    & > .inner{
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      @media (max-width: 767px){
        padding: 18px 15px;
      }
      width: 100%;
      h3{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0;
      }
      p{
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
      }
    }
  }
}
ul.list2{
  list-style: none;
  @include clearfix;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  li{
    float: left;
    width: 50%;
    flex: 0 0 50%;
    padding: 10px 15px;
    @media (max-width: 767px){
      width: 100%;
      flex: 0 0 100%;
      padding: 10px 0;
    }

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    & > div.inner{
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 22px 20px;
      width: 100%;
      h3{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 0 20px 0;
      }
      p{
        color: #848484;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
      }
    }
  }
}

body > footer{
  background: #181819;
  & > div.inner{
    @media (min-width: $siteWidth) {
      width: $siteWidth;
      margin: 0 auto;
    }
    @media (max-width: $siteWidth - 1){
      margin: 0 20px;
    }
  }
  nav{
    font-size: 14px;
    line-height: 19px;
    padding: 30px 0 36px 0;
    @include clearfix;
    div{
      @media (min-width: $mobileWidth) {
        float: left;
        width: 39%;
      }
      @media (max-width: $mobileWidth - 1){
        margin: 0 0 20px 0;
        br{
          display: none;
        }
      }
      h3{
        margin: 0 0 9px 0;

        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        a{
          color: #fff;
          background: url(../imgs/logo_small.svg) no-repeat 0 0;
          padding: 0 0 0 40px;
          text-decoration: none;
          display: block;
          transition: color 0.3s;
          text-indent: -3000px;
          overflow: hidden;
          &:hover{
            color: #7DE2FF;
          }
          &.active{
            color: #848484;
          }
        }
      }
      p{
        color: #fff;
        a{
          color: #26C4F7;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    ul {
      list-style: none;
      float: left;
      @media (min-width: $mobileWidth) {
        width: 16.66666%;
      }
      @media (max-width: $mobileWidth - 1){
        width: 33.33%;
        margin: 0 0 30px 0;
      }
      @media (max-width: 479px){
        width: 100% !important;
        li a{
          padding: 0 0 0 27px;
        }
      }
      &.links{
        @media (min-width: $mobileWidth) {
          width: 17%;
        }
        @media (max-width: $mobileWidth - 1){
          width: 33.3333%;
        }
      }
      &.social{
        @media (min-width: $mobileWidth) {
          width: 27%;
        }
        @media (max-width: $mobileWidth - 1){
          width: 33.3333%;
        }
      }
      &.community{
        @media (min-width: $mobileWidth) {
          width: 17%;
        }
        @media (max-width: $mobileWidth - 1){
          width: 33.3333%;
        }
      }

      li {
        margin: 0 0 9px 0;
        a {
          color: #F1F8FA;
          transition: color 0.3s;
          &:hover{
            color: #7DE2FF;
          }
          &.active{
            color: #848484;
            font-weight: 600;
          }
        }
      }
      &.social,
      &.community {
        li {
          a {
            padding: 0 0 0 27px;
            transition: background 0.3s;
          }
          &.yt{
            a{
              background-size: 16px !important;
              background-position: 3px 0 !important;
            }
          }
          &.ln{
            a{
              background-size: 16px !important;
              background-position: 3px 2px !important;
            }
          }
          $classes: sl,em,blog,ln,yt;
          @each $class in $classes{
            &.#{$class} {
              a {
                background: url(../imgs/icons/#{$class}.svg) no-repeat 0 0;
                &:hover{
                  background: url(../imgs/icons/#{$class}-hover.svg) no-repeat 0 0;
                }
                &:active{
                  background: url(../imgs/icons/#{$class}-active.svg) no-repeat 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
  #absfooter{
    clear: both;
    border-top: 1px solid #596062;
    padding: 20px 0;
    @include clearfix;
    font-size: 12px;
    line-height: 16px;
    #copyright{
      float: left;
      color: #596062;
    }
    ul{
      float: right;
      list-style: none;
      li{
        display: inline;
        padding: 0 0 0 43px;
        a{
          color: #596062;
          transition: color 0.3s;
          &:hover{
            color: #F1F8FA;
          }
          &:active{
            color: #848484;
          }
        }
      }
    }
  }
}
div.popup{
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  max-width: 95%;
  width: 550px;
  &#videopopup{
    width: 1024px;
    & > .inner{
      position: relative;
      height: 0;
      padding: 0 0 66.6666%;
    }
    iframe{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  display: none;

  & > span.close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #F1F8FA;
    border-radius: 4px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #0E84BC;
    transition: color 0.3s, border-color 0.3s;
    z-index: 2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover{
      border: 1px solid #0E84BC;
    }
  }
  padding: 50px 60px;
  @media (max-width: 767px){
    padding: 50px 40px;
  }
  @media (max-width: 479px){
    padding: 30px 20px;
  }
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  & > div.inner{
    h3{
      color: #2C2A28;
      font-size: 30px;
      line-height: 36px;
      margin: 0 0 10px 0;
    }
    p{
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 20px 0;
    }
    nav{
      padding: 0 0 21px 0;
      p {
        font-size: 14px;
        margin: 0 0 5px 0;
      }
      input[type="radio"]{
        position: absolute;
        visibility: hidden;
      }
      input[type="radio"]:not(:checked) + label.label{
        @extend .btn-empty-invert;
      }
      input[type="radio"]:checked + label.label{
        @extend .btn;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea{
      display: block;
      border: 1px solid #F2F2F2;
      border-radius: 4px;
      padding: 8px 15px;
      font-size: 14px;
      line-height: 20px;
      font-family: Poppins, Montserrat, "Open Sans";
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 15px 0;

      outline: none;
      transition: color 0.3s, border-color 0.3s;
      &:active{
        border-color: darken(#F2F2F2, 20);
      }
      &:focus{
        border-color: darken(#F2F2F2, 10);
      }
      &.error{
        border-color: #ff0000;
      }
      &[disabled]{

      }
      &::placeholder{
        color: #C1C1C1;
      }
    }
    textarea{
      height: 150px;
    }
    label.error{
      font-size: 12px;
      padding: 3px 0;
      color: #ff0000;
      display: block;
      margin: -15px 0 15px 0;
    }
    div.buttons{
      text-align: center;
      padding: 30px 0 0 0;
    }
    input[type="submit"]{
      @extend .btn;
      margin: 0 auto;
      text-align: center;
      border: 0;
    }

  }
}