DirectoryIndex index.html

ErrorDocument 404 /404.html

#AddType text/html .html
#AddHandler server-parsed .html
Options Indexes FollowSymLinks Includes
AddHandler server-parsed .html .htm

Redirect 302 /reviews /reviews.html
#Redirect 302 /news/ /news.html
Redirect 302 /modules /modules.html

AddDefaultCharset UTF-8
DefaultLanguage ru-RU